.svg-container {
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    /*background-color: #282c34;*/
    margin-bottom: 3%;
    margin-left: 5%;
    margin-top:3%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.svg-chart{
    height: 100%;
    margin-top: -3%;
}
.Dropdown {
    height: 20px;
    width: 10%;
    margin-top: -1%;
}
