* {
  font-family: 'Source Sans Pro', sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

body {
  margin: 0;
  background: #ecf0f1;
  overflow: hidden;
}


.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.chart-container {
  display: inline-block;
  width: 45%;
  margin: 1% 2%;
  vertical-align: top;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  border: 4px solid #2c3e50;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 6px;
}

.tooltip p {
  margin: 2px;
}

.tooltip:after {
  content: ' ';
  position: absolute;
  left: 50%;
  border: 8px solid transparent;
  border-top-color: #2c3e50;
  bottom: -20px;
  margin-left: -4px;
}

.tooltip2 {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  border: 4px solid #2c3e50;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 6px;
}

.tooltip2 p {
  margin: 2px;
}

.tooltip2:after {
  content: ' ';
  position: absolute;
  left: 50%;
  border: 8px solid transparent;
  border-top-color: #2c3e50;
  bottom: -20px;
  margin-left: -4px;
}

.country {
  stroke: none;
}

.country:hover {
  cursor: pointer;
}

.country.active {
  stroke: #2c3e50;
  stroke-width: 2px;
}

.y-axis-label {
  font-size: 0.8em;
}

.tick text {
  font-size: 1.5em;
}

@media screen and (max-width : 1100px) { 
  .container { 
    flex-direction: column ;
    justify-content: space-around;
    align-items: center ;


  }
}