#dashboard {
    display: flex;
    width: 100%;
    height: 100%;
}

.column1 {
    width: 50%;
}

.column2 {
    width: 50%;
}

#left {
    background: white;
}

#top {
    background: white;
    /* height: 60%; */
}

#bottom {
    background: white;
    /* height: 100%; */
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}