h1 {
    color: darkblue;
    text-align: center;
    font-size: xx-large;
}

p1 {
    font-weight: bold;
}

h2 {
    text-align: center;
}

btn-group btn-group-toggle {
    display: inline-block;
     vertical-align: top;
     text-align: center;
     margin-right: 50%;
 }
 /* .radio-input {
    display: inline-block;
     vertical-align: top;
 } */