.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-width-height {
  height: 100vh;
  width: 100%;
}

.container {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  padding: 16px;
}

.no-margin {
  margin: 0;
}

.display-flex {
  display: flex;
}

.fill {
  flex: 1;
}

.center {
  text-align: center;
}

.mt16 {
  margin-top: 16px;
}

.green-top {
  stop-color: rgb(14, 118, 61);
}

.green-middle {
  stop-color: rgb(49, 235, 133);
}

.green-bottom {
  stop-color: rgb(14, 118, 61);
}

.yellow-top {
  stop-color: rgb(161, 160, 13);
}

.yellow-middle {
  stop-color: rgb(255, 255, 15);
}

.yellow-bottom {
  stop-color: rgb(161, 160, 13);
}

.red-top {
  stop-color: rgb(150, 4, 6);
}

.red-middle {
  stop-color: rgb(217, 70, 70);
}

.red-bottom {
  stop-color: rgb(150, 4, 6);
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

